<!--The content below is only a placeholder and can be replaced.-->
<!-- <app-comp1></app-comp1>
<app-comp2></app-comp2>
<app-comp3></app-comp3> 
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

  //*ngIf Directive
  <p *ngIf="condition">
    condition true add element in to DOM
  </p>

  <p *ngIf="!condition">
    condition false and remove element from DOM
  </p>

<app-ngfor></app-ngfor>
<button class="btn btn-primary">Bootstrap</button>
<app-ngswitch></app-ngswitch> -->
<!-- <app-ngswitch2></app-ngswitch2>
   <app-ngstyle></app-ngstyle> -->

<!-- <app-ngclass></app-ngclass> -->
<!-- <p appCustdir>Normal Para</p> -->

<!-- <app-ngclass2></app-ngclass2> -->
<app-ass3></app-ass3>


<!-- <app-child [data]="fromParenttochild" (childOutput)="GetValueFromChild($event)"></app-child> -->

<!-- <app-child2 [employee]="emp" (childOutput)="GetValuepro($event)"></app-child2> -->
<!-- <input type="text" (blur)="submitValue(val)"> -->
<!-- <input type="text" placeholder="Input here..." #val>
<button (click)="submitValue(val)"> SubmitValue </button>
<app-lifecyclehooks [data]="value">
  This is from child content
</app-lifecyclehooks> -->
<router-outlet></router-outlet>
